<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.NoticeMapper">

<!-- 공지사항 전체 가져오기 -->
   <select id="selectNoticeAll" resultType="com.java.dto.NoticeDto">
      select * from notice
      
      <if test="search_input != null and search_input != '' ">
		   where notititle like '%'||#{search_input}||'%'
		</if>
      
      
      order by notidate desc
   </select>
   
   <!-- 공지사항 가져오기   -->
   <select id="selectNoticeListCount" resultType="int">
      select count(*) from notice
      
      <if test="search_input != null and serch_input != '' ">
		   where notititle like '%'||#{search_input}||'%'
	  </if>
      
   </select>
   
   <!-- 공지사항 상세페이지 : noticeView -->
   <select id="selectNoticeOne" resultType="com.java.dto.NoticeDto">
   select * from notice where notino=#{notino}
   </select>
   
   <!-- 공지사항 추가하기 -->
   <insert id="insertNotice">
   insert into notice values 
(
notice_seq.nextval ,
'MeeVoo',
#{notititle},
sysdate,
#{noticontent},
#{notihit},
#{notiimg}
)</insert>
   
<!-- 1) 수정할 공지사항 가져오기 -->
   <select id="selectNMOne" resultType="com.java.dto.NoticeDto">
      select * from notice where notino = #{notino}
   </select>
   
   
      
   
<!-- FAQ 전체 가져오기 -->
   <select id="selectFAQAll" resultType="com.java.dto.FAQDto">
      select * from faq
   </select>
   
<!-- QnA 전체 가져오기 -->
   <select id="selectQnAAll" resultType="com.java.dto.QnADto">
      select a.*,TO_CHAR(QnADate, 'YYYY/MM/DD') newdate from QnA a
   </select>

</mapper>